.ProductSec
{
    display:flex;
    padding:3rem 1rem;
}
.ProductFilter
{
    flex:.2;
    overflow :auto;
    height:100vh;
}
.ProductContainer
{
    flex:.8;
    justify-content: end;
}

.filterCheck
{
    margin-bottom: 1rem;
    color: rgb(204, 169, 238);
    display:flex;
    align-items: baseline;
    text-transform: capitalize;
    font:500 .8rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filterCheck:last-of-type
{
    margin-bottom: 2rem;
}
.Checkbox
{
    margin-right: .5rem;
    width:15px;
    height:15px;
    outline:none;
    border : 1px solid rgb(119, 36, 196);
}

input[type='checkbox']:checked ~ label
{
    color: rgb(119, 36, 196);
}

input[type="range"]
{
    -webkit-appearance: none;
    height: 15px;
    width: 90%;
}
input[type=range]:focus {
    outline: none;
}
.parentFilterSearch
{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 3rem;
}

.range
{
    margin-top: 1rem;
    color: rgb(161, 115, 207);
    font:700 .9rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filterSearch
{
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    width:70%;
    border : 1px solid rgb(119, 36, 196);
    border-radius: 10px;
    outline:none;
    font:600 1rem/1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:.3rem 1rem;
}

.Loading
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.LoadingImg
{
    width:200px;
    height:200px;
    animation: animateLoading 2s infinite ease-in-out;
}
.ProductContainer
{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
@keyframes animateLoading {
    0% {
        transform:translateY(-30px) scale(1.1)
    }
    25%
    {
        transform:translateY(0px) scale(.9)
    }
    50%
    {
        transform:translateY(30px) scale(1.1)
    }
    75%
    {
        transform:translateY(0px) scale(.9)
    }
    100% {
        transform:translateY(-30px) scale(1.1)
    }
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color:rgb(153, 87, 214);
    border-radius: 40px;
    height: 12px;
    border: 1px solid transparent;
}

input[type=range]::-webkit-slider-thumb {
    background-color:rgb(119, 36, 196);
    width:15px;
    height:15px;
    margin-top: -3px;
    border-radius: 50%;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: rgb(204, 169, 238);
}

::-webkit-scrollbar {
    display:none
}

body
{
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style:none;
}

@media only screen and (max-width:600px) {
    input[type="range"]
    {
        width:100%
    }
    .ProductFilter
    {
        flex:.3
    }
    .ProductContainer
    {
        flex:.7;
    }
}